torch
transformers
sentencepiece
accelerate==0.26.0
bitsandbytes
langchain
langchain-community
python-dotenv
PyPDF2
PyMuPDF
faiss-cpu
sentence-transformers
openai
nltk
fastapi
uvicorn
nest-asyncio
pyngrok
